# 复制此文件为 .env.dev 或 .env.prod 并填写。
# .env 文件无需手动创建，项目已内置。

# === 环境配置 ===
HOST=127.0.0.1
PORT=8080
SUPERUSERS=[] # 可选，默认空列表，用于设置超级用户
LOG_LEVEL=INFO          # TRACE / DEBUG / INFO / WARNING / ERROR
COMMAND_START=["/", ""]

# === get_seer_info 插件 ===
DATABASE_URL=sqlite:///seerapi-data.sqlite

# === db_sync 插件 ===
DB_SYNC_URL=https://github.com/SeerAPI/api-data/releases/download/latest/seerapi-data.sqlite # 用于设置数据库的 URL，该 URL 指向的文件需要能够自动更新
DB_SYNC_INTERVAL_MINUTES=60       # 可选，默认 60，表示每隔多少分钟同步一次数据库
DB_SYNC_PATH=seerapi-data.sqlite  # 可选，默认 seerapi-data.sqlite，表示数据库文件的保存路径
DB_SYNC_ON_STARTUP=True           # 可选，默认 True，表示在启动时是否同步数据库

# === 表情包插件，当缺少必填项时相关命令将被禁用 ===
MEMES_CNB_TOKEN=              # CNB API 令牌（敏感，必填）
MEMES_CNB_REPO=Nattsu39/tudou # CNB 仓库路径可选，默认 Nattsu39/tudou
# MEMES=["tudou","pig"]  # 可选，默认全部启用，表示启用哪些表情包命令
